.search-result {
  font-size: 1.4em;
  font-weight: 500;
  padding-bottom: 5px;
}

.navbar-brand a, .navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-brand a:hover, .navbar-links a:hover {
  color: white;
  opacity: 0.8;
}

.App {
  height: 100vh;
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.beranda {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tentang {
  height: 75%;
  display: flex;
  align-items: center;
}

.pencarian {
  padding-top: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.search-form {
  width: 60%;
}

.search-button {
  margin-left: 10px;
  margin-right: 10px;
}

.result-container {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  flex-direction: column;
  height: max-content;
  width: 80%;
  padding: 10px 0px 15px 0px;
  /* margin-top: 5%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  gap: 1.2rem;
}

.header-text {
  font-size: 2.2rem;
  font-weight: 600;
}

.description-text {
  font-size: 1.2rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  color: #212529;
  font-size: 28px;
  padding: 0 0.5rem 0 0.5rem;
  margin-top: 1rem;
}

.social-media a:hover {
  color: #212529;
  opacity: 0.8;
}

.similarity-button, .process-time-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.developer-mode-toggle:checked {
  margin: 100px;
}